:root{
    --background-navbar:rgba(229, 229, 229, 1);
    --scrol-item-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    --chat-primary-color: #004c98;
    --chat-secondary-color: #c8b100;
    --chat-background-color: #ffffff;
    --chat-background-gradient: linear-gradient(90deg, rgb(50, 0, 63) 0%, rgb(0, 91, 182) 37%, rgba(0,124,255,1) 100%);
    --bot-background-bot: #1f4cc7;
    --bot-background-user: #817a7a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.chat-icon {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 320px;
    height: 480px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.chat-header{
    background:var(--chat-background-gradient);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input-container{
    height: 50px;
    width: 100%;
}

#message-input{
    height: 75px;
    width: 100%;
}


.input_btn_group{
    display: flex;
    justify-content: end;
}

.input_btn{
    margin-top: -55px;
    position: absolute;
}

.input_size{
    width: 25px;
}

.navbar {
    width: 100px;
    height: 100%;
    background-color: var(--background-navbar);
    position: fixed;
    display: block;
    flex-direction: column;
    left: -250px; /* Скрыть по умолчанию */
    transition: left 0.3s ease;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    align-items: last baseline;
}

.navbar-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрировать элементы */
    margin-bottom: 20px;
    align-items: center !important;
}

.navbar-item {
    margin: 0px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: #575757;
}

.burger {
    font-size: 30px;
    color: black;
    padding: 0px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.form-switch{
    padding-left: 2.8rem;
}

#dialog{
    padding-left: 2.3rem;
}

#dialog_2{
    display: none;
}

.btn_close_chat{
    width: 40px;
    height: 35px;
}
.img_user_icon{
    width: 80px;
    height: 80px;
}

.img_user_chat{
    width: 40px;
    height: 40px;
}

.scrol_dialog_curs{
    cursor: pointer
}

.scroll_item{
    min-height: 50px;        
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;  
    box-shadow: var(--scrol-item-shadow);
    background-color: white;
}

.scroll_container_dialog{
    height: 100%;
    overflow-y: auto;
    border: 2px solid #ccc;
    padding: 10px;
}

.scroll_container_dialog_chat{
    max-height: 100%;
    height: 600px;
    overflow-y: auto;
    border: 2px solid #ccc;
    padding: 10px;
}

.link_filter_disabled{
    width: 71px;
    height: 13px;
    font-size: 18px;
    text-decoration: none;
    color: rgba(229, 229, 229, 1);
}

textarea{
    width: 99%;
    height: 100px;
}


.chat{
    background-color: var(--background-navbar);
    display: none;
}

.link_text{
    cursor: pointer;
}

@media (max-width: 1080px) {
    .navbar {
        left: -250px; /* Скрыть навбар по умолчанию */
    }

    .burger {
        display: block; /* Показать бургер-меню */
    }

    .navbar.active {
        left: 0; /* Показать навбар */
    }

    .chat-window {
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    .chat-header{
        justify-content:space-evenly;
    }

    #dialog{
        display: none;
    }

    #dialog_2{
        display: block;
    }
}

@media (min-width: 1080px) {
    .burger {
        display: none; /* Скрыть бургер-меню */
    }

    .navbar {
        left: 0; /* Показать навбар при ширине больше 1080px */
    }
}


.img_icons_bot{
    height: 40px;
}


.btn_close{
    color: white;
    width: 35px;
    height: 35px;
}

.chat-body {
    height: calc(100% - 160px);
    overflow-y: auto;
}

.chat-input {
    padding: 10px;
    display: flex;
}

.chat-input input {
    flex: 1;
    margin-right: 10px;
}

.chat-input button {
    margin-left: 5px;
}

.message_user_container, .message_bot_container{
    white-space: normal;
    width: auto;
    height: auto;
    max-width: 90%;
    padding: 12px 16px;
    display: inline-block;
    color: white;
    border-radius: 8px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

.message_bot_container{
    background-color: var(--bot-background-bot);
}

.message_user_container{
    background-color: var(--bot-background-user);
}

.btn_bot{
    max-width: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}

#send-button:disabled{
    background: rgb(207, 195, 195);
    color: #000000;
    border: 1px solid  rgb(207, 195, 195) ;
}