.navbar{
    background-color: rgba(229, 229, 229, 1);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

.nav-item{
    /*padding: 15px 10px;*/
    cursor: pointer;
}